<div class="row container-fluid">
  <div class="col-xl-4 col-lg-6,col-md-8, col-10 pt-4", style="margin: auto">
    <h2>Sign Up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control"%>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password",class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="actions ">
        <%= f.submit "Sign up" ,class:" btn btn-primary col-12" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>