<div class="row">
  <div class="col-xl-4 col-lg-6,col-md-8, col-10 pt-4", style="margin: auto">
  <h2>Forgot your password?</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions pt-4">
        <%= f.submit "Reset password" %>
      </div>
    <% end %>
    <div class="pt-2">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>