<div class="row container-fluid">
  <div class="col-xl-4 col-lg-6,col-md-8, col-10 pt-4", style="margin: auto">
    <h2>Sing In</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field pt-2">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control" %>
      </div>

      <div class="field pt-2">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" , class: "form-control"%>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field pt-2">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions pt-4">
        <%= f.submit "Log in", class:" btn btn-primary col-12"%>
      </div>
    <% end %>
    <div class="pt-2">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>