<div>
  <%= form_with(model: post) do |form| %>
    <div>
      <% invalid = post.errors.include?(:title) %>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title, class: "form-control" %>
      <% if invalid %>
        <p style="color:red"><%= post.errors.full_messages_for(:title).join(",") %></p>
      <% end %>
    </div>

    <div>
      <% invalid = post.errors.include?(:description) %>
      <%= form.label :description, style: "display: block" %>
      <%= form.text_field :description, class:"form-control" %>
      <% if invalid %>
       <p style="color:red"><%= post.errors.full_messages_for(:description).join(",") %></p>
      <% end %>
    </div>

    <div>
      <% invalid = post.errors.include?(:keywords) %>
      <%= form.label :keywords, style: "display: block" %>
      <%= form.text_field :keywords, class: "form-control" %>
      <% if invalid  %>
       <p style="color:red"><%= post.errors.full_messages_for(:keywords).join(",") %></p>
      <% end %>
    </div>

    <div class="py-4">
      <%= form.file_field :images, multiple: true %>
    </div>

    <div>
      <%= form.submit class: 'btn btn-primary col-sm-12 col-12' %>
    </div>
  <% end %>
</div>