<div id="<%= dom_id post %>" class="post-container">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

  <p>
    <strong>Keywords:</strong>
    <%= post.keywords %>
  </p>

  <p>
    <%#= link_to "Show this post", post %>
    <%= link_to "", post, class:"post-link" %>
  </p>
  <p>
    <% post.images.each do |image| %>
      <%= image_tag(image, style: "object-fit: contain")  %>
    <% end %>
  </p>
</div>
