<div class="row">
  <div class="col-xl-4 col-lg-6,col-md-8, col-10 mt-8" style="margin: auto" >
    <h1 style="margin-top: 20px">Editing post</h1>
    <%= render "form", post: @post %>
  </div>
</div>
<br>

<div>
  <%= link_to "Show this post", @post %> |
  <%= link_to "Back to posts", posts_path %>
</div>
