<%= stylesheet_link_tag("post") %>
<p style="color: green"><%= notice %></p>

<div class="text-center">
  <h1>All Posts</h1>
  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
<!--      <p>-->
        <%#= link_to "Show this post", post %>
<!--      </p>-->
    <% end %>
  </div>
</div>