<div class="row">
  <div class="col-xl-4 col-lg-6,col-md-8, col-10" style="margin: auto">
   <h1 style="padding-top: 20px">New post</h1>
   <%= render "form", post: @post %> <br>
    <div>
      <%= link_to "Back to posts", posts_path %>
    </div>
  </div>


</div>


