.post-container{
    background: #fff;
    broder:1px solid #ddd;
    broder_radius:3px;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
}
.post-link{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 4;
    opacity: 0;
    background-color: rgba(0,0,0,0.1);
}
.post-link:hover{
    opacity: 0.3;
}