<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to 'Home', root_path , class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Upload Post', new_post_path, class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to 'About Us', home_about_path, class:"nav-link active" %>
        </li>
        <% if user_signed_in?  %>
          <li class="nav-item">
            <%= link_to 'Sing Out', destroy_user_session_path, class:"nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Edit Account", edit_user_password_path, class: 'nav-link' %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to 'Sing Up', new_user_registration_path, class:"nav-link active" %>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>